/* === Основа === */
window#waybar {
    background: transparent;
    color: #ffffff;
    font-family: "JetBrainsMono Nerd Font", "Fira Code", monospace;
    font-size: 20px;
    transition: all 0.2s ease;
}

/* === Общие отступы для всех модулей === */
#workspaces,
#custom-arch,
#custom-ethernetSpeed,
#custom-temperature,
#cpu,
#custom-codium,
#custom-rider,
#clock,
#custom-lock,
#custom-obs,
#custom-telegram,
#battery,
#pulseaudio,
#custom-power {
    background-color: #0c263d;
    padding: 0 8 0 8;
    border-radius: 8 8 8 8;
}

/* === РАЗДЕЛИТЕЛИ МЕЖДУ БЛОКАМИ === */
#custom-arch {
    background-color: transparent;
    margin-right: 16px;
    font-size: 28px;
    color: #1793d1;
}

#custom-codium {
    border-radius: 8 0 0 8;
}
#custom-rider {
    margin-right: 16px; 
    border-radius: 0 8 8 0;
}

#clock {
    margin-right: 16px;
}

#custom-obs {
    margin-right: 8px;
}

#custom-telegram {
    margin-right: 16px;
}

#pulseaudio {
    margin-right: 16px;
}

/* === СТИЛИ МОДУЛЕЙ === */
/* --- Workspaces --- */
#workspaces button {
    padding: 0 4px;
    color: #1793d1;
    border-radius: 8px;
}
#workspaces button.focused {
    color: #50fa7b;
    background: rgba(50, 50, 50, 0.4);
}
#workspaces button:hover {
    background: rgba(70, 70, 70, 0.5);
    color: #ffffff;
}

/* --- Системная статистика (слева) --- */
#cpu {
    color: #4493F8;
    border-radius: 0 8 8 0;
}
#custom-temperature {
    color: #4493F8;
    border-radius: 0;
}
#custom-ethernetSpeed {
    color: #50fa7b;
    border-radius: 8 0 0 8;
    margin: 0 0 0 16;
}

/* --- Редакторы (центр) --- */
#custom-codium,
#custom-rider {
    color: #4493F8;
}
#custom-codium:hover,
#custom-rider:hover {
    color: #ff79c6;
    background: rgba(40, 40, 40, 0.4);
    border-radius: 3px;
}

/* --- Время --- */
#clock {
    color: #50fa7b;
    font-weight: bold;
}

/* --- Безопасность (центр) --- */
#custom-lock {
    color: #4493F8;
    background-color: transparent;
}
#custom-lock:hover {
    color: #ff79c6;
    background: rgba(40, 40, 40, 0.4);
    border-radius: 3px;
}

/* --- Запись (справа) --- */
#custom-obs.recording {
    color: #ff5555;
    padding: 0 0 0 0;
}
#custom-obs.inactive {
    color: #4493F8;
}

/* --- Телеграм --- */
#custom-telegram.running {
    color: #d55d0e;
}

/* --- Статистика (справа) --- */
#battery {
    color: #50fa7b;
}
#battery.warning { color: #50fa7b; }
#battery.critical {
    color: #d55d0e;
    animation: blink 1s infinite;
}

#pulseaudio {
    color: #4493F8;
}
#pulseaudio.muted {
    color: #ff5555;
}

/* --- Питание --- */
#custom-power {
    color: #4493F8;
}
#custom-power:hover {
    color: #d55d0e;
    background: rgba(40, 40, 40, 0.4);
    border-radius: 3px;
}

/* === Анимации === */
@keyframes blink {
    50% { opacity: 0.4; }
}
